html {
  background-color: #FAE39E;
}

a:link, a:visited, a:hover, a:active {
  color: firebrick;
  text-decoration: none;
}

#home, #recipies, #add-a-recipie {
  display: inline-block;
  width: 100px;
  padding: 12px;
  margin: 0 6px 6px;
  background: firebrick;
  text-decoration: none;
  color: cornsilk;
  text-align: center;
  box-shadow: 1px 1px 5px black
}

#form {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10%;
  border: solid black 1px;
  background-color: cornsilk;
  padding: 10px;
}

/*
  change so details are normal,
  but ingredients are long, 
  and directions are long and tall
*/
input{
  width: 80%;
}