a:link, a:visited, a:hover, a:active {
  color: firebrick;
  text-decoration: none;
}

html {
  background-color: #FAE39E;
}

#form {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10%;
  border: solid black 1px;
  background-color: cornsilk;
  padding: 10px;
}

/*
  change so details are normal,
  but ingredients are long, 
  and directions are long and tall
*/
input{
  width: 80%;
}